<nav class="navbar navbar-expand-lg navbar-light pt-4 pb-4 bg-dark" >
  <a class="navbar-brand" [routerLink]="['/main/home']" class="logo" style="margin-left: 5vw; margin-right: 21vw;" ><img src="../../assets/images/Logo-white.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
    <span class="my-1 mx-2 close" style="color: #ffffff; font-weight: 300; font-size: 28px;float: right;">X</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/main/vision']" class="ourVision mx-4" >OUR VISION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink] ="['/main/life-stories']" class="lifeStorie mx-4">LIFE STORIES</a>
      </li>
    </ul>
  </div>
</nav>

<h1>vision works!</h1>
