.bg-img{
  background-image: url('../../../assets/images/gangama.jpg');
  background-repeat: no-repeat;
  background-size: cover;width: 100%;
  height: auto;
}
.logo {
  width: 162px;
  height: 33px;
}

.lifeStorie {
  width: 88px;
  height: 14px;
  color: #ffffff;
  font-family: "Aktiv Grotesk";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.navbar-toggler.collapsed>.close {
  display:inline;
}

// .navbar-toggler.collapsed>.close {
//   display:inline;
// }
.navbar-toggler{
  border:none !important ;
  border-radius: 0px !important;
  background-color: none !important;
}
.navbar-toggler.collapsed{
  border:none !important ;
  border-radius: 0px !important;

}
.navbar-light .navbar-toggler-icon{
  background-image: url('../../../assets/images/hamburgerIcon.png');
  width: 20px;
  height: 20px;
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}
.ourVision {
  width: 83px;
  height: 14px;
  color: #ffffff;
  font-family: "AktivGrotesk-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
@media only screen and (max-width: 411px) {

}


.make-life-work {
  height: 80px;
  color: #FFFFFF;
  font-family: Courier;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0;
  margin-top:358px;
  word-wrap: break-word;
}
.weve-done-complica {

  height: 52px;
  color: #FFFFFF;
  font-family: "Verdana";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  word-wrap: break-word;
}
.btn-vision{
    color: #00968F;
    font-family: "Aktiv Grotesk";
    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 15px;
    text-align: center;
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      border-radius: 28px;
      height: 52px;
      width: 127px;
    }

.background-2{
    background: linear-gradient(180deg, #F6F5F4 0%, #EEEDEB 100%);
    // border-bottom-left-radius: 20px;
}
.div-block2{
  margin-left: 129px;
}
.hr-style{
  margin:79px 129px 20px 0px;
}
.life-designed {
  color: #292728;
  font-family: "Aktiv Grotesk";
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 14px;
}
.lifestyle{
  color: #292728;
  font-family: "Aktiv Grotesk";
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin-left:533px;
}
.div-text{
  margin-bottom: 41px;
}
.background-3{
  background-color: #FFFFFF;
}
.viev-exists{
  margin:89px 341px 0px 298px;
  height: 597px;
  width: 801px;
  color: #244C5A;
  font-family: "Aktiv Grotesk";
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 62px;
}
.arrow-style{
  font-size: 24px;
  color:#00968F ;
}
.background-4 {
  height: 340px;
  background-color: #DEDAD6;
}
@media only screen and (max-width: 411px) {
    .lifestyle{
      display: none;
    }
    .make-life-work{

    margin-top: 220px;
  }
  .weve-done-complica{
    margin-top: 150px;
  }
  .div-block2{
    margin-left: 20px;
  }
  .hr-style{
    margin-right: 20px;
  }
  .viev-exists{
    margin-left: 35px ;
    margin-right: 27px;
    font-size: 28px;
    // white-space: normal;
    width: 253px;
    word-wrap: break-word;
    line-height: 36px;
    br{
      display: none;
    }
  }

}
